<!DOCTYPE html>
<html>
<head>
  <meta property="username" content="<%= username %>"/>
</head>
<body>
  <div id="gameDiv">
    <canvas id="ctx" width="930" height="780" style="border:1px solid #000000;"></canvas>
  </div>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script type="text/javascript" src="./client/script.js"></script>
</body>
</html>
